.main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 20px 40px rgba(0,0,0,1);
    margin-top: 1rem;
    height: calc(100% - 5vh - 1rem);
    background-image:linear-gradient(to right bottom,
    rgba(244, 208, 63 ,0.8),
    rgba(202, 111, 30 ,0.8) 
    ), 
    url('../../images/wallhaven-3k7qjv.jpg');
    background-size: cover;
    background-position: center;
} 

@media only screen and (max-width:925px) {
    .main {
        height: calc(100% - 10vh - 1rem);
    }
}

