.about {
    position: absolute;
    top: 2.5vh;
    left: calc(50% - 75px);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: column;
}
 

.h2 {
    width: 150px;
    height: 30px;
    font-weight: 700;
    position: relative;
    display:block;
    font-size: 1.2rem;
    color: #fff;
    text-transform: uppercase;
    z-index: 1;
    position: relative;
    transition: all .5s ease-in-out;
}

.h2:nth-child(2n) {
    color:#e34c26 ;
 
}
 
.h2::before {
    content: '';
    position: absolute;
    top: 0;
    left:0;
    bottom:0;
    width: 100%;
    height: 100%;
    background-color:#e34c26 ;
    z-index: -1;
    transform: scaleX(0.05);
    transform-origin: left;
    transition: all .5s ease-in-out;
}
 
.h2:hover {
    box-shadow: 20px 10px 30px rgba(0, 0, 0, 1);
}

.h2:nth-child(2n)::before {
    background-color: #fff;
}

.h2:hover::before {
    transform:scaleX(1);
}

.icon {
    opacity: 0;
    margin: auto auto;
    height: 50px;
    width:50px;
    vertical-align:middle;
    transition: all 1s ease-in-out;
}

.html {
    color:#e34c26;
}

.html-1 {
    color:#ebebeb;
}

.css {
    color :#264de4;
}

.js {
    color:#F0DB4F;
}

.react {
    color: #61DBFB;
}

.node {
    color: #303030;
}

.mongo {
    color: #4DB33D;
}

.walking  {
    color: #fff;
}

.button {
    z-index: 1;
    position: relative;
    overflow: hidden;
    margin-top: 75vh; 
    width: 250px;
    height: 5vh;
    border-radius: 20px;
    border:none;
    outline: 0;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 2px 15px;
    color:#E74C3C;
    box-shadow: 3px 3px 4.5px rgba(0,0,0,1);
    transition: .5s ease-in-out;
}


.button::before {
    position: absolute;
    border-radius: 20px;
    content:"";
    top:0;
    right:0;
    width:100%;
    height:0;
    background:#E74C3C;
    z-index: -1;
    transition: all .5s ease-in-out;
}

.button:hover {
    color: rgba(244, 208, 63 ,0.8);
    box-shadow: 10px 10px 15px rgba(0,0,0,1);
    
}

.button:hover::before {
    height: 100%;
    
}

.after-journey-hover {
    padding: 1.5vh 1.5vw;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 35vh;
    height: 35vh;
    pointer-events: none;
    position: absolute;
    top:120px;
    left:calc(-17.5vh + 75px);
    font-size: 1rem;
    color:transparent;
    transition: all 1s ease-in-out; 
}

.h2:hover .after-journey-hover {
    color: #fff;
    background-color: #e34c26;
    box-shadow: 20px 10px 30px rgba(0, 0, 0, 1);
}

.about .h2:hover:nth-child(2n) .after-journey-hover {
    color:#e34c26;
    background-color: #fff;
    }


.h2:hover .icon {
    opacity: 1;
}


@media only screen and (max-width:767px) {
    .h2 {
        font-size: 0.9rem;
    }

    .after-journey-hover {
        font-size: 0.75rem;
        width: 30vh;
        height: 30vh;
        left:calc(-15vh + 75px);
    }
    
    .button {
        width: 200px;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .h2 {
        font-size: 1.3rem;
    }

    .after-journey-hover {
        font-size: 1.3rem;
    }
    
    .button {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width:3840px) {
    .about {
        left: calc(50% - 225px);
    }
    
    .h2 {
        width: 450px;
        height: 75px;
        font-size: 4rem;
    }

    .after-journey-hover {
        font-size: 2.5rem;
        top: 300px;
        left: calc(-17.5vh + 225px);
    }

    .button {
        font-size: 2.5rem;
        border-radius: 40px;
        width: 500px;
    }
} 