.home {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    background-size:cover; 
}

.name {
    color: #fff;
    font-size: 4rem;
    border-bottom:2px solid #fff;
    padding-bottom: 1rem;
}

.greet {
    margin: 0.75rem 0.5rem;
    color: #fff;
}

.span {
    color: #E74C3C;
}

.button {
    margin-bottom: 2rem;
    z-index: 1;
    position: relative;
    overflow: hidden; 
    width: 200px;
    height: 5vh;
    border-radius: 20px;
    border:none;
    outline: 0;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 2px 15px;
    color:#E74C3C;
    box-shadow: 3px 3px 4.5px rgba(0,0,0,1);
    transition: .5s ease-in-out;
}

.button::before {
    position: absolute;
    border-radius: 20px;
    content:"";
    top:0;
    right:0;
    width:100%;
    height:0;
    background:#E74C3C;
    z-index: -1;
    transition: all .5s ease-in-out;
}

.button:hover {
    color: rgba(244, 208, 63 ,0.8);
    box-shadow: 10px 10px 15px rgba(0,0,0,1);
    
}

.button:hover::before {
    height: 100%;
    
}

.react {
    vertical-align: middle;
    color:#E74C3C;
}

.social {
    margin: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    margin: 0.5rem;
    color: #fff;
    cursor: pointer;
    width: 35px;
    height: 35px;
    transition: .5s ease-in-out;
}

.icon:hover {
    color: #e34c26;
}

@media only screen and (max-width:397px) {
    .social {
        flex-direction: row;
    }
}

@media only screen and (max-width:650px) {
    .name {
        font-size: 3rem;
    }

    .greet {
        font-size: 1rem;
    }
}

@media only screen and (min-width:3840px) {
     .button {
         width: 400px;
         font-size: 2rem;
         border-radius: 40px;
     }

     .name {
         font-size: 12rem;
     }

     .greet {
         font-size: 4rem;
     }

     .icon {
         width: 100px;
         height: 100px;
     }
}