.wrapper {
    padding-top: 5vh;
}   


.home {
    height: 100%; 
    align-items: center;
    text-align: center;
    z-index: -2;
    background-size:cover; 
}

.name {
    margin: 0;
    font-size: 5rem;
    border-bottom:2px solid #fff;
    padding-bottom: 1rem;
}

.name {
    color: #fff;
}

.greet {
    margin: 0.75rem 0.5rem;
    color: #fff;
}

.span {
    color: #E74C3C;
}


.button {
    z-index: 1;
    position: relative;
    overflow: hidden; 
    width: 250px;
    height: 5vh;
    border-radius: 20px;
    border:none;
    outline: 0;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0 2px 15px;
    color:#E74C3C;
    box-shadow: 3px 3px 4.5px rgba(0,0,0,1);
    transition: .5s ease-in-out;
}




.button::before {
    position: absolute;
    border-radius: 20px;
    content:"";
    top:0;
    right:0;
    width:100%;
    height:0;
    background:#E74C3C;
    z-index: -1;
    transition: all .5s ease-in-out;
}

.button:hover {
    color: rgba(244, 208, 63 ,0.8);
    box-shadow: 10px 10px 15px rgba(0,0,0,1);
    
}

.button:hover::before {
    height: 100%;
    
}

.react {
    vertical-align: middle;
    color:#E74C3C;
}

.social {
    display: flex;
    justify-content: space-evenly;
    padding-top:2.5vh;
    padding-bottom:2.5vh;
   
}

.icon {
    color: #fff;
    cursor: pointer;
    width: 50px;
    height: 50px;
    transition: .5s ease-in-out;
}

.icon:hover {
    color: #e34c26;
}


@media only screen and (min-width:280px) and (max-width:540px) {
    .name {
        font-size: 3rem;
    }
    
    .button {
        width:200px;
    }
    
    .social {
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .icon {
        width: 25px;
        height: 25px;
    }
} 


@media only screen and (max-height:568px) {
    
}

@media only screen and (min-height:720px) {
    .social {
        padding-top: 18.5vh;
        padding-bottom: 8.5vh;
    }
}

@media only screen and (min-height:823px) {
    .social {
        padding-top: 18.5vh;
        padding-bottom:16.5vh;
    }
}

@media only screen and (min-width:768px) {
    .social {
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .greet {
        margin:1.5rem 1.5rem ;
    }

    .home {
        padding-top: 4vh;
        padding-bottom:4vh;
    }

    .home h2 {
        font-size: 2.5rem;
    }

    .button {
        font-size: 1.5rem;
    }

}


@media only screen and (min-width:1024px) {
    .home {
        padding-top: 10vh;
        padding-bottom: 15vh;
    }

    .button {
        font-size: 1.5rem;
    }
}
   
@media only screen and (min-width:1280px) {
    .button {
        font-size: 1rem;
    }

    .home {
        padding-bottom: 10vh;
    }
}

@media only screen and (min-width:3840px) {
    .button {
        width: 600px;
        font-size: 2rem;
    }

    .home {
        padding-top: 10vh;
        padding-bottom:14vh;
    }

    .greet {
        font-size: 7.5rem !important;
    }

    .name {
        font-size: 15rem;
    }

    .icon {
        width: 150px;
        height: 150px;
}

}