@keyframes animateIcon {
    0% {
        transform:translateY(2.5px) ;
    }
    20% {
        transform: translateY(-2.5px);
    }
    40% {
        transform: translateY(2.5px);
    }
    60% {
        transform: translateY(-2.5px);
    }
    80% {
        transform: translateY(2.5px);
    }
    100% {
        transform: translateY(-2.5px);
    }
}


.wrapper {
    display: flex;
    justify-content: space-evenly;
    height: 5vh;
}

.filler {
    box-shadow: 5px 5px 10px rgba(0,0,0,1);
    width: 50%;
    display: flex;
    justify-content: center;
    background-image:linear-gradient(to right bottom,
    rgba(244, 208, 63 ,0.8),
    rgba(202, 111, 30 ,0.8) );
}

.filler p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #fff;
    margin:auto;
}

 .filler p:hover .reactIcon {
    animation-name:animateIcon;
    animation-duration: 1.5s;
} 


.navbar {
    width:50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:space-around;
}

.navlinks {
    font-weight: 400;
    position: relative;
    opacity: 0.6;
    color: #E74C3C ;
    font-size: 1rem;
    text-decoration: none;
    transition: all .2s ease-in-out;
    text-transform: uppercase;
}

.navlinks:not(:last-child) {
    margin-right: 1rem;
}

.navlinks:focus{
    color: #E74C3C;
    font-weight: 700; 
    opacity: 1;
}  

.navlinks:hover {
    opacity: 1;
}

.navlinks::before {
    position: absolute;
    content: '' ;
    top: 1.5rem;
    left: 0;
    width: 100%;
    height: 0.15rem;
    background-color:#E74C3C ;
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.2s ease-in-out;
} 

.navlinks:hover::before {
    transform: scaleX(1);
    visibility: visible;
    transform-origin: right;
}

.reactIcon {
    vertical-align: middle;
    color: #E74C3C;
}

@media only screen and (max-width:284px) {
    .navlinks {
        font-size: 0.75rem;
    }

    .filler p {
        font-size: 0.5rem;
    }
}

@media only screen and (max-width:925px) {
    .wrapper {
        display: block;
        height: 10vh;
    }

    .navbar {
        width: 100%;
        margin-top: 1rem;
    }

    .filler {
        width: 100%;
        height: 5vh;
    }
}


